<div class="col-lg-12" style="width: 600px">
  <div class="card mb-5">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Full Name</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">{{profile.username}}</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Language</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">{{profile.language}}</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Phone</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">{{profile.phoneNumber}}</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">UserLevel</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">{{profile.userLevel}}</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Gender</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">{{profile.gender}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
