<div class="">
  <div class="">
    <div class="">
      <div class="card">
        <form class="box" name="form" (ngSubmit)="onSubmit()" >
          <h1>Login</h1>
          <p class="text-muted"> create user </p>
          <input type="name" id="form-email"
                 name="username" [(ngModel)]="username"
                 placeholder="Username" required/>

          <input class="form-control" type="password"
                 name="password" [(ngModel)]="password"
                 placeholder="Password" required/>

          <input class="form-control" type="email"
                 name="email" [(ngModel)]="email"
                 placeholder="email" required/>

          <input class="form-control" type="name"
                 name="name" [(ngModel)]="name"
                 placeholder="name" required/>

          <input class="form-control" type="name"
                 name="ROLE" [(ngModel)]="role"
                 placeholder="role" required/>

          <input class="form-control" type="surname"
                 name="surname" [(ngModel)]="surname"
                 placeholder="surname" required/>

          <button type="submit">Create user</button>

        </form>
      </div>
    </div>
  </div>
</div>
