<html>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <form class="box" name="form" (ngSubmit)="onSubmit()" >
          <h1>Login</h1>
          <p class="text-muted"> Please enter your email and password!</p>
          <input type="email" id="form-email"
                 name="username" [(ngModel)]="username"
                 placeholder="Email address" required/>

          <input class="form-control" type="password"
                 name="password" [(ngModel)]="password"
                 placeholder="Password" required/>

          <button type="submit">Sign in</button>

        </form>
      </div>
    </div>
  </div>
</div>
</html>


<!--<div class="modal-header">-->
<!--  <h4 class="modal-title">{{'authorization.login.logIn'| translate}}</h4>-->
<!--  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">-->
<!--    <span aria-hidden="true">&times;</span>-->
<!--  </button>-->
<!--</div>-->
<!--<div class="container p-3">-->
<!--  <div class="form-group form-row">-->
<!--    <input type="text" ngbAutofocus autocomplete="off" (keydown.enter)="logIn()" class="form-control rounded" placeholder="{{'authorization.login.username'| translate}}"-->
<!--           name="username" [(ngModel)]="email">-->
<!--  </div>-->
<!--  <div class="form-group form-row">-->
<!--    <input type="password" (keydown.enter)="logIn()" name="password" class="form-control rounded"-->
<!--           placeholder="{{'authorization.login.password'| translate}}" [(ngModel)]="password" />-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col">-->
<!--      <p class="btn btn-link"><a (click)="openRecover()">{{'authorization.login.forgotPass'| translate}}</a></p>-->
<!--    </div>-->
<!--    <div class="col text-right">-->
<!--      <button type="button" [disabled]="loading" class="btn buttonpr border-0 ml-3" (click)="logIn()">-->
<!--        <span *ngIf="!loading" class="text">{{'authorization.login.logIn'| translate}}</span>-->
<!--        <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->
<!--  <p *ngIf="message" class="m-2 alert alert-danger">{{message}}</p>-->
<!--</div>-->

